@font-face {
    font-family: Comic-Sans-MS; /* Гарнитура шрифта */
    src: url(/fonts/Comic-Sans-MS/Comic-Sans-MS.ttf); /*Путь к файлу со шрифтом */
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .p {
        font-size: 50%;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    p {
        font-size: 75%;
    }
}

body {
    font-family: Comic-Sans-MS, cursive;
}

div {
    margin-left: -10px;

}


p, h2, h4 {
    text-align: center;
}

.FAQ-links {
    text-align: center;
}

.FAQ-links ul{
    margin-left: -20px;
    margin-top: -15px;
    display: inline-block;
}

.FAQ-links li a {
    text-decoration: none;
}
